.book-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding-top: 4em;
}

@media screen and (max-width: 800px) {
  .book-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .book-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
